<!-- <div class="m-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
</div> -->

<div class="wrap-content m-4">
    <div class="tab-headers">
        <div class="tab-header-item" *ngFor="let tab of tabPanelList; let idx = index"
            [class.active]="idx===activeIndex" (click)="activeIndexChange.emit(idx)">
            {{tab.title}}
            <button (click)="removeTab(tab)" class="btn-remove">Remove</button>
        </div>
    </div>
    <hr />
    <div class="tab-body" *ngIf="tabPanelList.length; else noTabs">
        <ng-container *ngTemplateOutlet="tabPanelList[activeIndex].panelBody"></ng-container>
    </div>
    <ng-template #noTabs>
        No more tabs.
    </ng-template>
</div>