<div class="content" role="main">
  <button (click)="isDanger = !isDanger">Toggle Danger</button>
  <br />
  <button (click)="isWarning = !isWarning">Toggle Warning</button>
  <br />

  <!-- CLASS -->
  <!-- #C1 [class.ten-class] -->
  <!-- #C2 [class]="array" -->
  <!-- #C3 [class]="object" {[ten-class: boolean]} -->

  <!-- <div class="box border-orange bg-green"></div> -->
  <!-- <div class="box" [class.border-orange]="isDanger" [class.bg-green]="isWarning"></div> -->
  <!-- <div class="box" [class]="['border-orange', 'bg-green']"></div> -->
  <!-- <div class="box" [class]="{'border-orange': isDanger, 'bg-green': isWarning}"></div> -->
  <!-- <div [class]="classes"></div> -->


  <!-- STYLE -->
  <!-- 
    - [style.tenStyle]
    - [style.ten-style]
    - [style.tenStyle.unit]
    - [style]="object"
  -->
  <!-- <p [style.color]="'red'" [style.background-color]="'yellow'" [style.fontSize.em]="2">
    If you never try, You'll never know
  </p> -->

  <p [style.--text-color]="isDanger ? 'red' : 'blue'" [style]="{color: 'var(--text-color)'}">
    If you never try, You'll never know
  </p>

  <p style="color: red">No Haha</p>


</div>